<code>
(?<=Europa)(.*)(?=Se non)
^(?:(?!Se non).)*
(?<=completa).*?(?=Area)
(?<=completa)(.*)(?=Area)
</code>
<center>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; background-color: #fff; width:700px; max-width:700px; margin:0 auto;">
   <tbody>
      <tr>
         <td style="padding: 40px 40px; border-bottom: 1px solid #c8c8c8;">
            <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; width:100%;">
               <tbody>
                  <tr>
                     <td style="vertical-align: middle; width:50%;" width="50%">	<a href="http://www.contributieuropa.com/" target="_blank"><img src="http://www.contributieuropa.com/v3/store/images/loghi/LogoAff-0.png" width="185" alt="Contributi Europa" style="width:185px; height: auto;" /></a>	</td>
                     <td style="vertical-align: middle; width:50%; text-align: right;" width="50%"><a href="http://www.contributieuropa.com/v3/store/dettagliobando.asp?id=10746&affid=0&idc=60628" target="_blank" style="display:inline-block; font-family:sans-serif;font-size:12px;font-weight:bold;line-height:12px;text-transform:none;margin:0px; background-color:#00cc66; border-radius:20px; text-transform: uppercase; width:190px; padding: 10px 0px; color:#fff; text-decoration:none; text-align: center;">Scheda completa</a>	</td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
      <tr>
         <td style="padding: 40px 40px;">
            <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; width:100%;">
               <tbody>
                  <tr>
                     <td style="vertical-align: top; width:100%; border-bottom: 1px solid #c8c8c8; padding: 0 0 40px 0;"></td>
                  </tr>
                  <tr>
                     <td style="width:100%; border: 1px solid #c8c8c8; padding: 40px;">
                        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; width:100%;">
                           <tr>
                              <td style="padding-bottom: 40px; border-bottom: 1px solid #c8c8c8;">
                                 <p style="display: block; margin: 0; font-family:sans-serif;font-size:25px;font-weight:bold; color:#01a8e5;">CCIAA di Bergamo. Bando Voucher intersettoriali per formazione 2021. Finanziamento a fondo perduto fino al 100% per la formazione rivolta a tutte le imprese, ad eccezione del settore della produzione primaria dei prodotti agricoli.</p>
                              </td>
                           </tr>
                           <tr>
                              <td style="padding-top: 40px;">
                                 <p style="display: block; margin: 0 0 15px 0; font-family:sans-serif;font-size:16px;font-weight:normal; color:#818181;"><span style="color:#01a8e5;">Area Geografica: </span>Lombardia</p>
                                 <p style="display: block; margin: 0 0 15px 0; font-family:sans-serif;font-size:16px;font-weight:normal; color:#818181;"><span style="color:#01a8e5;">Scadenza:</span> Scadenza il 31/12/2021</p>
                                 <p style="display: block; margin: 0 0 15px 0; font-family:sans-serif;font-size:16px;font-weight:normal; color:#818181;"><span style="color:#01a8e5;">Spese finanziate: </span>Formazione</p>
                                 <p style="display: block; margin: 0 0 15px 0; font-family:sans-serif;font-size:16px;font-weight:normal; color:#818181;"><span style="color:#01a8e5;">Beneficiari: </span>Associazioni/Onlus/Consorzi</p>
                              </td>
                           </tr>
                        </table>
                        <p style="display: block; margin: 0 0 15px 0; font-family:sans-serif;font-size:16px;font-weight:normal;color:#818181;"><span style="color: red;">IMPORTANTE: </span>Le domande possono essere presentate fino al 31.12.2021, salvo esaurimento fondi. Le Organizzazioni di Categoria devono avere sede legale e operativa nella provincia di Bergamo.</p>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
      <tr>
         <td style="padding: 0 10px 15px 40px; width:100%;">
            <p style="display: block; margin: 0; font-family:sans-serif;font-size:14px;font-weight:normal; color:#818181;">Se non vuoi ricevere questi avvisi sui nuovi Incentivi...: <a href="http://www.contributieuropa.com/v3/store/StopAlertByMail.asp?md=drt&ida=0&cod=79136931136913213695&idc=60628" style="text-decoration: none; font-weight: bolder; color:#818181;border-color: orange; border-style: double;">&nbsp; Stop Avvisi &nbsp;</a>
         </td>
      </tr>
      <tr>
         <td style="padding: 0 40px 40px 40px;">
            <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; width:100%;">
               <tbody>
                  <tr>
                     <td style="vertical-align: top; width:100%;">
                        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; width:100%;">
                           <tr>
                              <td style="text-align: center;">
                                 <p style="display: block; margin: 0; font-family:sans-serif;font-size:16px;font-weight:bold; color:#818181;">Ti interessa questo bando? Finirà nei tuoi Preferiti</p>
                                 <a href="http://www.contributieuropa.com/v3/store/PrefAddByMail.asp?ida=0&cod=79136931136913213695&idc=60628&idb=10746" target="_blank" style="display:inline-block; margin: 25px 0 0 0; font-family:sans-serif;font-size:12px;font-weight:bold;line-height:12px;text-transform:none; background-color:#00cc66; border-radius:20px; text-transform: uppercase; width:190px; padding: 10px 0; color:#fff; text-decoration:none; text-align: center;">Mi interessa</a>
                              </td>
                           </tr>
                        </table>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
      <tr>
         <td style="padding: 40px 40px; border-top: 1px solid #c8c8c8;">
            <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; width:100%;">
               <tbody>
                  <tr>
                     <td style="vertical-align: top; width:100%;">
                        <p style="display: block; margin: 0; font-family:sans-serif;font-size:13px;font-weight:normal; color:#818181;">Le informazioni ricevute non rispecchiano il Suo profilo? Dopo aver effettuato la registrazione, acceda alla sezione 'Profilo', 'Preferenze e interessi' per modificare le preferenze o scegliere di 'non ricevere' avvisi. Per cancellarsi dal Portale, acceda alla sua sezione “Profilo” o in alternativa clicchi <a href="http://www.contributieuropa.com/v3/store/clienteelimina.asp?md=drt&ida=0&cod=79136931136913213695&mbx=ajaneu@gmail.com" style="text-decoration: none; font-weight: bolder; color:#818181;">QUI</a><br><br>Se non vuole più ricevere avvisi: entri nel Profilo, scelga Preferenze e spunti la casella: 'non voglio ricevere notifiche'. Sempre nel Profilo, si trova anche il pulsante rosso per cancellarsi definitivamente dal portale.<br><br>Copyright © 2019 Contributi Europa</p>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>